@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot");
  src: url("../fonts/RobotoSlabRegular/RobotoSlabRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoSlabRegular/RobotoSlabRegular.woff") format("woff"),
  url("../fonts/RobotoSlabRegular/RobotoSlabRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot");
  src: url("../fonts/RobotoSlabLight/RobotoSlabLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoSlabLight/RobotoSlabLight.woff") format("woff"),
  url("../fonts/RobotoSlabLight/RobotoSlabLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot");
  src: url("../fonts/RobotoSlabBold/RobotoSlabBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/RobotoSlabBold/RobotoSlabBold.woff") format("woff"),
  url("../fonts/RobotoSlabBold/RobotoSlabBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamProRegular/GothamProRegular.eot");
  src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
  url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamProBold/GothamProBold.eot");
  src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
  url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamProBlack/GothamProBlack.eot");
  src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
  url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamProMedium/GothamProMedium.eot");
  src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
  url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Gotham Pro";
  src: url("../fonts/GothamProLight/GothamProLight.eot");
  src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
  url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
  url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}
