.data
  margin-top: 30px
  width: 100%
  min-width: 680px
  border-collapse: collapse
  th
    border-top: 1px solid #d0d0d0
    border-bottom: 1px solid #d0d0d0
    border-spacing: 0
    padding: 10px 0
    color: #303030
    opacity: 0.7
    font-size: 14px
    font-weight: 600
    line-height: 1
    text-align: center
    box-sizing: border-box
    @media screen and (min-width: 880px)
      font-size: 16px
      padding: 16px 0
    @media screen and (min-width: 1140px)
      padding: 28px 0
      font-size: 22px
    &:nth-child(1)
      text-align: left
      padding-left: 0
      opacity: 1
    &:nth-child(2)
      padding-left: 0
      opacity: 1
      width: 106px
      @media screen and (min-width: 880px)
        width: 130px
      @media screen and (min-width: 1140px)
        width: 178px
    &:nth-child(3)
      padding-left: 20px
      text-align: left
    &:not(:first-child)
      min-width: 80px
      @media screen and (min-width: 880px)
        min-width: 100px
      @media screen and (min-width: 1140px)
        width: 158px
    &:last-child
      @media screen and (min-width: 1140px)
        width: 110px
  td
    padding: 17px 0 0
    position: relative
    color: #303030
    font-size: 12px
    font-weight: 500
    line-height: 19px
    @media screen and (min-width: 940px)
      padding: 27px 0 0
      font-size: 14px
  td:first-child
    padding-left: 40px
    text-align: left
  tr:last-child td
    padding-bottom: 27px
  &__icon
    position: absolute
    display: block
    left: 1px
    top: 22px
    fill: #97c6a0
    @media screen and (min-width: 940px)
      top: 32px
  &__winner
    background: #f5fdfb
