.footer
  padding: 40px 0
  color: #fff
  font-size: 14px
  font-weight: 500
  background: #606060
  text-align: center
  &__copyright
    line-height: 26px
  &__links
    margin-top: 30px
    line-height: 0
  &__item
    line-height: 1.25
    display: inline-block
    &:not(:first-child)
      margin-left: 70px
    &:last-child
      margin-left: 250px
  &__link
    color: #fff
    font-weight: 600
    text-decoration: underline
