.heading
  color: #303030
  font-size: 42px
  font-weight: 600
  line-height: 46px
  text-align: center
  font-family: 'Roboto Slab', sans-serif
  &--result
    font-size: 65px
    line-height: 36px
    font-family: 'Gotham Pro', sans-serif
