.icon
  &--money
    width: 26px
    height: 26px
  &--house
    width: 26px
    height: 27px
  &--heating
    width: 28px
    height: 23px
  &--thermometer
    width: 26px
    height: 26px
  &--brush
    width: 21px
    height: 25px
  &--leaf
    width: 24px
    height: 24px
  &--key
    width: 29px
    height: 27px
  &--bug
    width: 27px
    height: 24px
  &--fort
    width: 27px
    height: 27px
  &--extending
    width: 28px
    height: 25px
