.test-result
  margin: 90px auto 0
  position: relative
  width: 1140px
  background: #fff
  padding: 45px 60px
  text-align: center
  box-sizing: border-box
  box-shadow: -2px 1px 9px rgba(0, 0, 0, 0.24)
  &__heading
    color: #303030
    font-size: 34px
    font-weight: 500
    line-height: 38px
  &__inner
    overflow-x: auto
